.profile {
  display: flex;
  max-width: 40rem;
}
.profile-info {
  width: 70%; 
}

.profile-info p {
  color: #7d7e87;
}
.profile-info a {
  background-color: #ff6364;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
  display: inline-block;
}
.profile-image {
  display: flex;
  width: 30%;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  margin: 1rem 0;
  margin-bottom: 4rem;
}

.profile-image img {
  display: block;
  object-fit: cover;
}
@media screen and (max-width: 420px) {
  .profile-info{
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .profile-image{
    display: none;
  }

}
.recent-post {
  display: flex;
  flex-direction: column;
  background-color: #edf7f9;
}
.recent-post-head {
  display: flex;
  justify-content: space-between;
}
.recent-post-head h3 {
  margin-left: 0.8rem;
  align-self: center;
}
.recent-post-head a {
  margin-right: 2rem;
  align-self: center;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  color: #62becf;
  margin-bottom: 2rem;
}
.post {
  display: flex;
  gap: 0.5rem;
}
.post-left {
  background-color: white;
  border-radius: 0.6rem;
  margin-left: 0.8rem;
  padding-left: 0.6rem;
}
.post-right {
  background-color: white;
  border-radius: 0.6rem;
  margin-right: 0.8rem;
  padding-left: 0.6rem;
}
.featured-work {
  display: flex;
  flex-direction: column;
}
.featured-work h3 {
  padding: 1rem 0;
  padding-left: 0.6rem;
}
.works {
  display: flex;
  margin-bottom: 1rem;
}
.works img {
  width: 30%;
  padding-left: 0.6rem;
}
.works-text h3 {
  margin: 0;
  padding-top: 0;
  padding-left: 1rem;
}
.works-text P {
  display: inline-block;
  margin-left: 1rem;
}
.works-date {
  display: flex;
}
.works-date h4,
p {
  margin: 0;
}
.works-date h4 {
  background-color: black;
  color: white;
  display: inline-block;
  margin-left: 1rem;
  padding: 0 0.4rem;
  align-self: center;
  border-radius: 0.2rem;
  margin-right: 1rem;
}
.works-date p {
  color: #7d7e87;
  align-self: center;
  display: inline-block;
}
