.workcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid #a9a9a4;
  margin-left: 15rem;
  margin-right: 15rem;
}
.worktitle{
  font-size: 1rem;
  margin-left: 16rem;
}
.work-image {
  margin: 20px;
  width: 20rem;
  height: 6rem;
}
.work-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
button {
  background-color: #140a34;
  border: none;
  border-radius: 10px;
  color: white;
}
.workcontentleft {
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-direction: column;
} 
@media (max-width: 59.875em) {
  .workcontent {
    margin-left: 10rem;
    margin-right: 10rem;
  }

}
@media (max-width: 48.875em) {
  .workcontent {
    margin-left: 7rem;
    margin-right: 7rem;
  }

}
@media (max-width: 41.6875em) {
  .workcontent {
    margin-left: 5rem;
    margin-right: 5rem;
  }

}
@media (max-width: 33em) {
  .workcontent {
    margin-left: 3rem;
    margin-right: 3rem;
  }

}
@media (max-width: 29.625em) {
  .workcontent {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}
@media (max-width: 24.9375em) {
  .workcontent {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}
