.text{
    display: flex;
    gap: 1rem;
}
.maincontainer{
    border-bottom: solid #F1F1E6;
    width: 40rem;
}
.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
